body,h1,h2,h3,h4,h5,h6,h7,h8,h9,p{
    color:#333;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #f8fcff;
}

.header{
    padding: 10px 10px 10px 10px;
}

/* Side Menu Styles */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(161,42, 125,0.85);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
    margin-top:8vh;
    border-radius: 2px;
}

.sidenav a {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.1s;
    text-transform: uppercase;
}

.sidenav a:hover {
    color: #cccccc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:#f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.am-navbar-toggle-btn{
    display: inline-block;
    background-size: 100% 100%;
    width: 21px;
    height: 15px;
    margin-top: 10px;
    cursor:pointer;
}

.am-navbar-toggle-text{
color: #A12A7D;
text-transform: uppercase;
padding: 0px 0px 0px 10px;
font-size: large;
}

.am-navbar-toggle-container{
    padding-top:20px;
}
.am-navbar-logo{
    background: url(../images/amaris_found_logo.png) no-repeat center center;
    height: 100px;
    max-width: inherit;
}

.am-btn.active {
    background-color: #A12A7D;
    color : white;
}

.am-btn.active:hover{
    background-color: white;
    color: #A12A7D;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
    border: 0.3px solid #A12A7D;
}

.am-btn {
    color:#333333;
    width: 200px;
    height: 200px;
    padding: 10px;
    font-size: large;
    background-color: #FFFFFF;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 2px;
    
}

.am-btn:hover{
    background-color: #A12A7D;
    color : white;
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
    border-color: #A12A7D;
}


@media only screen and (min-width: 768px) {
    .am-navbar-btnholder{
        float: right;
        padding: 20px;
    }
}


@media only screen and (min-width: 0px) and (max-width:768px) {
    .am-navbar-toggle-text{
        display: none;
    }
    .am-navbar-btnholder{
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

.am-nav-open:after{
    content: "\f0c9";
    font-family: "FontAwesome";
    color:black;
}

.am-nav-close:after{
    content: "\f00d";
    font-family: "FontAwesome";
    color:black;
}

.side-open{
    width : 250px;
}

.side-close{
    width : 0px;
}

.am-navbar-toggle-btn{
    font-size: large;
}





@media only screen and (min-width: 768px) {
    .am-top-poster{
        border-radius: 2px;
        background: url(../images/top_poster.jpg) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 50vh;
    }
}

@media only screen and (min-width: 0px) and (max-width:768px) {
    .am-top-poster{
        border-radius: 2px;
        background: url(../images/top_poster_mobile.jpg) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 50vh;
        margin-top: 50px;
    }

    .am-work-title{
        text-align: center;
    }
}


.am-article-title{
    font-weight: 600;
    font-size: 2.5em;
}

.am-article-subtitle{
    font-weight: 600;
    margin-top: 30px;
    font-size: 1.5em;
}
.am-article-text{
    font-weight: 500;
    line-height: 2.5;
    font-size: 1.2em;
}

.am-inner-container{
    padding:40px;
}

.desc-container{
    background-color: #A12A7D;
}

#opertaions-title{
    color: white;
}

.am-operations-icons{
    font-size: 10em;
    color: white;
    text-align: center;
}

.am-operations-items{
    text-align: center;
    margin-top: 80px;
}

.am-operations-text{
    color:white;
    font-size: 1.5em;
    padding-top: 40px;
}

.am-work-items{
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 2px 2px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 2px 2px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 2px 2px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding:20px;
}

.am-work-icons{
    font-size: 13em;
}
.am-work-img{
    text-align: center;
}
.am-work-desc{
    line-height: 2;
}

.am-projects-container{
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 2px 1px #ccc;
    -moz-box-shadow: 0px 2px 2px 1px #ccc;
    box-shadow: 0px 2px 2px 1px #ccc;
    margin-bottom: 50px;
}

.am-projfund-btn{
    color: #333333;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: medium;
    background-color: #F8FCFF;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px 1px #ccc;
    -moz-box-shadow: 0px 2px 2px 1px #ccc;
    box-shadow: 0px 2px 2px 1px #ccc;
}


.am-projects-img-thumb{
    height: 100%;
}

.am-projects-img-expand{
    height: 10vh;
    width: 100%;
    object-fit: cover;
}

.am-project-description-2{
padding: 20px 20px 20px 20px;
}

.am-project-shrinked{
    display: none;
}



div.seeLess{
    float: right;
}

/* div.am-project-description > .am-projfund-items2:nth-child(1){
    margin-right: 200px;
} */

div.am-project-description > .am-projfund-items1:nth-child(2){
    margin-right: 120px;
}
div.seeLess{
    padding-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.sparkle-holder , .am-projfund-tags , .vote-holder {
    font-size: 1.3em;
}

.sparkle-holder,.vote-holder{
    margin-right: 30px;
}

.am-projfund-title{
    font-weight: 700;
    font-size: 1.2em;
}

.am-projfund-subtitle{
    font-weight:500;
    font-size: 1.0em;
}

.am-projfund-text{
    font-size: 1.1em;
    line-height: 2;
    font-weight:500;
    text-align: justify;
}
.spacer{
    margin:20px 0px 20px 0px;
}
.right{
    float:right;
}
.hr-slim{
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
}

.am-project-social{
    padding:20px;
}

.am-projfund-btn-Sparkle{
    color: #FFFFFF;
    width: 120px;
    padding: 5px;
    font-weight: 700;
    font-size: medium;
    background-color: #FAAD5B;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px 1px #ccc;
    -moz-box-shadow: 0px 2px 2px 1px #ccc;
    box-shadow: 0px 2px 2px 1px #ccc;
    display:inline-block;
}

.am-projfund-btn-Vote{
    color: #FFFFFF;
    width: 120px;
    padding: 5px;
    margin:20px;
    font-weight: 700;
    font-size: medium;
    background-color: #A12A7D;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px 1px #ccc;
    -moz-box-shadow: 0px 2px 2px 1px #ccc;
    box-shadow: 0px 2px 2px 1px #ccc;
    display:inline-block;
}

.am-projfund-buttons{
    margin-top: 20px;
}

.mobile{
    display: block;   
   }
   .non-mobile{
       display: none;
   }

@media screen and (min-width: 1200px) {
        .am-project-social > .am-projfund-title , .am-project-social > .am-projfund-text {
            float: right;
        }

        div.seeMore {
            margin-left: 120px;
        }
}

@media screen and (min-width: 992px) {
    .mobile{
        display: none;   
       }
    .non-mobile{
        display: block;
    }
    .am-projfund-items1{
        padding-top: 40px;
        margin-left: 40px;
    }
    .am-project-description{
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        height: 10vh;
        margin-top: -10vh;
    }
    .am-projfund-items2 > .expand , .am-projfund-items1 > .expand , .seeLess > .expand {
        color: #FFFFFF;
    }
    .am-columns{
        float: left;
        display: block;
        margin-left:20px;
    }
    .am-projects-img-thumb-container{
        height: 12vh;
        margin-left: 0px;
        padding-left: 0px;
    }

}

@media screen and (min-width:0px) and (max-width:992px){
    .sparkle-holder{
        color: #FAAD5B;
    }
    .vote-holder{
        color: #A12A7D;
    }
    .am-project-description{
        -webkit-box-shadow: 0px 2px 2px 1px #ccc;
        -moz-box-shadow: 0px 2px 2px 1px #ccc;
        box-shadow: 0px 2px 2px 1px #ccc;
        padding:10px;
    }
    .seeLess{
        color:#e74c3c;
        font-size: 1.7em;
    }
    .am-columns{
        text-align: center;
    }
}



.seeLess{
    float:right;
}
 